.vscode/
.venv/
.codex/
.codex/*
.build/
.build/*
.agents/
.agents/*
.vscode/*
.venv/*
.agents/*
__pycache__/*
**/__pycache__/
.codex/*
.agents/*
.study/
blackboard/
kaggle/
gpumode/

**/build/
**/dist/
**/*.egg-info/
**/*.so
